@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Karla', sans-serif;
  font-size: 1.125rem;
  color: #3a3c3e;
  margin: 0;
  padding: 0;
}

body {
  border-top: 7px solid #e35d5b;
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: background 0.2s linear;
}

h1 {
  text-align: center;
}

a {
  color: #e35d5b;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #e35d5b;
  color: #ffffff;
  text-align: left;
  position: sticky;
  top: 0;
}

table th, table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
}

table tbody tr.no-data {
  text-align: center;
  font-style: italic;
}

table tbody tr.no-data .emoji {
  text-align: center;
  font-style: normal;
}

table tbody tr:last-of-type {
  border-bottom: 4px solid #e35d5b;
}

table tbody tr.active-row {
  color: #e35d5b;
}

table tbody tr.collapse-row {
  background-color: #e7e7e7;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}

footer {
  text-align: center;
  border-bottom: 7px solid #e35d5b;
  height: 50px;
  margin-top: 25px;
}

footer span {
  margin-top: 25px;
  margin-bottom: 20px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #3a3c3e;
  width: 50px;
  height: 22px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 13px;
}

.fa-moon {
  color: #fac806;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(27px);
}

#toggleThemeMode {
  margin: 10px;
}

/** XS: Phones **/
@media only screen and (max-width: 600px) {
  table {
    min-width: 90vw;
    max-width: 90vw;
  }

  .wrapper {
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
  }

  .show-md {
    display: none;
  }

  .show-lg {
    display: none;
  }

  h1 {
    margin: 5px 5px 10px 5px;
  }
}

/** MD: Phones **/
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  table {
    min-width: 90vw;
    max-width: 90vw;
  }

  .show-lg {
    display: none;
  }

  .wrapper {
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
  }
}

body.dark-theme {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a3c3e, #333536); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a3c3e, #333536); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #e7e7e7;
}

.dark-theme table {
  box-shadow: 0 0 20px rgba(231, 231, 231, 0.15);
}

.dark-theme table tbody tr.collapse-row {
  background-color: #333536;
  box-shadow: inset 0 0 5px rgba(231, 231, 231, 0.15);
}

.dark-theme .checkbox-label .ball {
  background-color: #333536;
}

.dark-theme .checkbox-label {
  background-color: #e7e7e7;
}
